.App {
  text-align: center;
}

h1{
  color:azure;
  font-size: 4rem;
  padding: 30px;
   font-family: 'Liu Jian Mao Cao', cursive;
}
body{
   background: rgb(28,0,36);
  background: linear-gradient(90deg, rgba(28,0,36,1) 0%, rgba(0,212,255,1) 66%, rgba(37,104,217,1) 100%); 
}